<h1>Welcome <%= @owner.name%> to your page! </h1>
<p>You have <%= @owner.money%>$ in your account.</p>

<% if @owner.farms != []%>
<h2>Farms you own are: </h2>
  <%@owner.farms.each do |farm|%>
  <p> <%= farm.name%></p>
      <ul>Net worth: <%= farm.get_value%> </ul>
  <%end%>

<%else%>
  <p>You don't have any farms at the moment</p>
<%end%>
